
.bg-primary{
  background-color: $primary !important;
}
.MuiSlider-thumb{
  -webkit-transform: translate(50%, -50%) !important;
  -moz-transform: translate(50%, -50%) !important;
  -ms-transform: translate(50%, -50%) !important;
  transform: translate(50%, -50%) !important;
}
