
.ticket .widget {
    -webkit-filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}
.ticket .widget .tco {
    height: 35px;
    margin: 0 35px;
    position: relative;
}
.ticket .widget .tco:before, .ticket .widget .tco:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0%;
    background-color: red;
}
.ticket .widget .tco:before {
    left: -35px;
    -webkit-mask-image: url('../../../public/assets/images/svg/Cornertl.svg');
    mask-image: url('../../../public/assets/images/svg/Cornertl.svg');
}
.ticket .widget .tco:after {
    right: -35px;
    -webkit-mask-image: url('../../../public/assets/images/svg/Cornertr.svg');
    mask-image: url('../../../public/assets/images/svg/Cornertr.svg');

}

.ticket .widget .bco {
    height: 35px;
    margin: 0 35px;
    position: relative;
}
.ticket .widget .bco:before, .ticket .widget .bco:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
}
.ticket .widget .bco:before {
    left: -35px;
    top: -0px;
    z-index: -1;
    -webkit-mask-image: url('../../../public/assets/images/svg/Cornerbl.svg');
    mask-image: url('../../../public/assets/images/svg/Cornerbl.svg');

}
.ticket .widget .bco:after {
    right: -35px;
    top: -0px;
    z-index: -1;
    -webkit-mask-image: url('../../../public/assets/images/svg/Cornerbr.svg');
    mask-image: url('../../../public/assets/images/svg/Cornerbr.svg');

}


.red .ticket .widget .top,.red .ticket .widget .bottom,.red .ticket .widget .rip,.red .widget .tco,.red .widget .bco,
.red .ticket .widget .tco:before,.red .ticket .widget .tco:after,
.red .ticket .widget .bco:before,.red .ticket .widget .bco:after {
    background-color: #e7333e;
    color: #FFFFFF;
}
.red .ticket .widget .tco:before {
    border-right-color: #e7333e;
}
.red .ticket .widget .tco:after,.red .ticket .widget .bco:after {
    border-left-color: #e7333e;
}
.red .ticket .widget .bco:before {
    border-bottom-color: #e7333e;
}

.white .ticket .widget .top,.white .ticket .widget .bottom,.white .ticket .widget .rip,.white .widget .tco,.white .widget .bco,
.white .ticket .widget .tco:before,.white .ticket .widget .tco:after,
.white .ticket .widget .bco:before,.white .ticket .widget .bco:after {
    background-color: #FFFFFF;
}
.white .ticket .widget .tco:before {
    border-right-color: #FFFFFF;
}
.white .ticket .widget .tco:after,.white .ticket .widget .bco:after {
    border-left-color: #FFFFFF;
}
.white .ticket .widget .bco:before {
    border-bottom-color: #FFFFFF;
}

.blue .ticket .widget .top,.blue .ticket .widget .bottom,.blue .ticket .widget .rip,.blue .widget .tco,.blue .widget .bco,
.blue .ticket .widget .tco:before,.blue .ticket .widget .tco:after,
.blue .ticket .widget .bco:before,.blue .ticket .widget .bco:after {
    background-color: #1345b4;
    color: #FFFFFF;
}
.blue .ticket .widget .tco:before {
    border-right-color: #1345b4;
}
.blue .ticket .widget .tco:after,.blue .ticket .widget .bco:after {
    border-left-color: #1345b4;
}
.blue .ticket .widget .bco:before {
    border-bottom-color: #1345b4;
}

.green .ticket .widget .top,.green .ticket .widget .bottom,.green .ticket .widget .rip,.green .widget .tco,.green .widget .bco,
.green .ticket .widget .tco:before,.green .ticket .widget .tco:after,
.green .ticket .widget .bco:before,.green .ticket .widget .bco:after {
    background-color: #07500c;
    color: #FFFFFF;
}
.green .ticket .widget .tco:before {
    border-right-color: #07500c;
}
.green .ticket .widget .tco:after,.green .ticket .widget .bco:after {
    border-left-color: #07500c;
}
.green .ticket .widget .bco:before {
    border-bottom-color: #07500c;
}

.secondGreen .ticket .widget .top,.secondGreen .ticket .widget .bottom,.secondGreen .ticket .widget .rip,.secondGreen .widget .tco,.secondGreen .widget .bco,
.secondGreen .ticket .widget .tco:before,.secondGreen .ticket .widget .tco:after,
.secondGreen .ticket .widget .bco:before,.secondGreen .ticket .widget .bco:after {
    background-color: #043107;
    color: #FFFFFF;
}
.secondGreen .ticket .widget .tco:before {
    border-right-color: #043107;
}
.secondGreen .ticket .widget .tco:after,.secondGreen .ticket .widget .bco:after {
    border-left-color: #043107;
}
.secondGreen .ticket .widget .bco:before {
    border-bottom-color: #043107;
}

.yellow .ticket .widget .top,.yellow .ticket .widget .bottom,.yellow .ticket .widget .rip,.yellow .widget .tco,.yellow .widget .bco,
.yellow .ticket .widget .tco:before,.yellow .ticket .widget .tco:after,
.yellow .ticket .widget .bco:before,.yellow .ticket .widget .bco:after {
    background-color: #f3e16b;
}
.yellow .ticket .widget .tco:before {
    border-right-color: #f3e16b;
}
.yellow .ticket .widget .tco:after,.yellow .ticket .widget .bco:after {
    border-left-color: #f3e16b;
}
.yellow .ticket .widget .bco:before {
    border-bottom-color: #f3e16b;
}
