.topbar{
    width:100%;
    height:60px;
    background-color:#fafafa;
    position:sticky;
    top:0;
    z-index: 999;
}
.topbarWraper{
    height:100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
.topLeft{
    display:flex;
    align-items: center
}
.topbarIconContainer{
    position:relative;
    cursor: pointer;
    margin-left: 15px;
    color:#555;
}
.topIconBadge{
    width:15px;
    height: 15px;
    position:absolute;
    top:-3px;
    left:-2px;
    background-color:red;
    color:white;
    border-radius: 50%;
    font-size:10px;
    display: flex;
    justify-content: center;
    font-family: arial;
}
.topAvatar{
    height:40px;
    width:40px;
    border-radius: 50%;
    cursor: pointer;
}
