
.t-search-t {  margin-left:auto;margin-right:auto;width:202px;margin-top:20px;}
.t-search-t span{

    margin-top:10px;
    border-bottom:2px solid #FC0053;
    padding:5px;
    color:#fff;
    font-size:18px;
}
.input-search-s {
    width:100%;
    margin-right:15px;
    background-color:#4EB732;
    color:#fff;
    height:44px;
    margin-top:30px;
    border:0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    font:18px "yekan",tahoma;
}
.input-search-s:hover,input.form:hover {
    background-color:#43A02C;
}

.input-search {
    width:100%;

    background-color:#fff;
    height:44px;
    margin-top:30px;
    border:0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;

    font:15px "yekan",tahoma;
    color:#C1C1C1;
    padding-right:8px;


}

select.ss{
    position: absolute;
    margin:0;
    height:46px;
    border-radius: 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    width:100%;
    right:0;
    top:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    cursor:pointer;

}
select.ss option{
    padding:5px;
    font:13px "yekan",taohma;


}

.arrow-down {

    position:absolute;
    right:0;
    left:0;
    bottom:-15px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #FC0053;
    margin-right:auto;
    margin-left:auto;


}

.arrow-down-s {

    position:absolute;
    left:20px;
    top:20px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #6C6C6C;



}

.bgs {
    background:url(/src/assets/images/bg-search.jpg) no-repeat -150px -100px;
    width:100%;
    height:180px;
    overflow:hidden;
    border-bottom:4px solid #393939;
}
.loc-top-s {

    position:relative;
    background-color:#fff;
    height:46px;
    margin-top:30px;
    margin-left:5px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
}
.loc-top-s.active {
    background-color:#C9C9C9;
    color:#fff;
}

.loc-top-s span:before {
    content:"شهر : ";
}
.loc-top-s span {
    float:right;
    font: 13px "yekan",tahoma !important;
    padding-top:8px;
    padding-right:15px;

}
