.appBar {
  position: relative;
}
.title {
  margin-right: 20px !important;
  flex: 1;
}
.btn-select {
}
.main-inputs {
  margin-top: 75px;
}
.heading {
  font-size: 15px;
  flex-basis: 33.33%;
  flex-shrink: 0;
}
.secondaryHeading {
  font-size: 15px;
  color: #0debaa;
}
.m_checkbox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
}
