.RoadMap {
  margin-top: 80px;
  background: #f3eed9;
  padding: 0 10vw 0 10vw;
  img {
    width: 100%;
  }
}
.VarietyMap {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0 10vw;
  img {
    width: 100%;
  }
}

.Corporate-form {
  background: $colors-primary;
  color: $colors-text-on-dark;
}
.box{
  img{
    padding: 10px;
    border-radius: 16px;
    background: #FFFFFF;
  }
}
.box2{
  margin-top: 100px;
  margin-bottom: 80px;
  @media only screen and (max-width: $break-points-desktopS) {
    margin-top: 180px;
  }
  img{
    border-radius: 16px;
  }
}
.video{
  margin-bottom: -11px;
}
