$colors-primary: #e7333e;
$colors-secondary: #242d3e;
$colors-primary-over: #e22430;
$colors-image-bg: #fef8f9;
$colors-text-primary: #4b4b4b;
$colors-text-primary-light: #6b6b6b;
$colors-text-primary-hover: #b01616;
$colors-text-on-dark: #FFFFFF;
$colors-text-on-dark2: #EEEEEE;
$colors-text-on-dark3: #DDDDDD;
$colors-text-on-dark4: #CCCCCC;
$colors-text-on-dark5: #BBBBBB;
$colors-text-on-dark6: #AAAAAA;
$colors-text-on-dark7: #999999;
$colors-text-on-dark8: #888888;

$break-points-mobile:     480px;
$break-points-tablet:     720px;
$break-points-desktopS:   960px;
$break-points-desktop:   1240px;
$break-points-desktopHD: 1920px;
