body {
  background: url("https://res.cloudinary.com/jasonheecs/image/upload/v1480353347/construction/bg.jpg");
  margin: 0;
  padding: 0;
  font-family: "IRANSans-web";
}

main {
  display: flex;
  position: absolute;
  left: 0;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.scene,
.layer {
  display: block;
  width: 100%;
  height: 100%;
  transition: ease all 1s;
  margin: 0;
  padding: 0;
}

.scene {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  list-style-type: none;
}

.layer {
  position: absolute;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #e7333e;
  color: #FFFFFF;
  font-family: "IRANSans-web";
  text-decoration: none;
}

.content {
  position: relative;
  padding: 20px;
  font-size: 1rem;
  direction: rtl;
  text-align: right;
  width: auto;
  margin-right: 25%;
}
@media screen and (max-width: 768px) {
  .content {
    top: 2%;
    margin-right: 0%;
  }
}
@media screen and (min-width: 768px) {
  .content {
    top: 10%;
    margin-right: 45%;
  }
}
@media screen and (min-width: 992px) {
  .content {
    top: 18%;
    margin-right: 35%;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    top: 18%;
    margin-right: 30%;
  }
}
@media screen and (min-width: 1350px) {
  .content {
    top: 18%;
  }
}

.rocket,
.cloud-back,
.cloud-front {
  position: relative;
  width: auto;
  text-align: right;
}

.cloud-front {
  bottom: -85vh;
}
@media screen and (min-height: 700px) {
  .cloud-front {
    bottom: calc(-90vh + 55px);
  }
}
@media screen and (min-width: 768px) and (min-height: 700px) {
  .cloud-front {
    bottom: calc(-85vh + 132px);
  }
}

.cloud-back {
  bottom: -75vh;
}
@media screen and (min-height: 700px) {
  .cloud-back {
    bottom: calc(-90vh + 87px);
  }
}
@media screen and (min-width: 768px) and (min-height: 700px) {
  .cloud-back {
    bottom: calc(-85vh + 182px);
  }
}

.rocket {
  bottom: -20vh;
}
@media screen and (min-height: 700px) {
  .rocket {
    bottom: calc(-80vh + 330px);
  }
}
@media screen and (min-width: 480px) and (min-height: 700px) {
  .rocket {
    bottom: calc(-90vh + 400px);
  }
}
@media screen and (min-width: 768px) and (min-height: 700px) {
  .rocket {
    bottom: calc(-85vh + 600px);
  }
}

.footer {
  position: absolute;
  bottom: -5%;
  left: -100%;
  width: 300%;
  height: 15vh;
  background: #e7333e;
  z-index: -1;
}
@media screen and (min-width: 480px) {
  .footer {
    height: 25vh;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    bottom: -25vh;
    height: 50vh;
  }
}
@media screen and (min-width: 992px) {
  .footer {
    bottom: -15vh;
    height: 50vh;
  }
}
@media screen and (min-height: 700px) {
  .footer {
    bottom: -25vh;
    height: 50vh;
  }
}

.social {
  position: absolute;
  top: 10px;
  right: 5%;
  color: #999;
  text-transform: uppercase;
}

.social__link {
  display: inline-block;
  margin-left: 10px;
}
.social__link img {
  vertical-align: middle;
}

/*# sourceMappingURL=index.css.map */
