#qrCanvas {
  width: 100%;
}

.bg-primary {
  background-color: #d90a1a !important;
}

.MuiSlider-thumb {
  -webkit-transform: translate(50%, -50%) !important;
  -moz-transform: translate(50%, -50%) !important;
  -ms-transform: translate(50%, -50%) !important;
  transform: translate(50%, -50%) !important;
}

@media (min-width: 1000px) {
  /*body{*/
  /*  position: absolute;*/
  /*  width: 390px;*/
  /*  max-width: 390px;*/
  /*  left: Calc(50% - 195px);*/
  /*}*/
}
#qrCanvas {
  width: 100%;
}

.blur {
  filter: blur(6px);
}

.messagebox {
  position: fixed;
  bottom: 56px;
  width: 100%;
}

.section-title {
  color: #fff;
  background-color: #e7333e;
  width: fit-content;
  padding: 10px 10px 10px 40px;
  border-radius: 25px 0 0 25px;
}

.MuiAlert-icon {
  margin-right: 0;
  margin-left: 12px;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.loginBgDark {
  background: rgb(18, 1, 0);
  background: linear-gradient(40deg, rgb(18, 1, 0) 0%, rgb(236, 13, 18) 100%);
}

.loginBgLight {
  background: rgb(255, 255, 255);
  background: linear-gradient(40deg, rgb(150, 18, 26) 0%, rgb(255, 160, 165) 100%);
}

.bg-primary {
  background-color: #d90a1a !important;
}

.MuiSlider-thumb {
  -webkit-transform: translate(50%, -50%) !important;
  -moz-transform: translate(50%, -50%) !important;
  -ms-transform: translate(50%, -50%) !important;
  transform: translate(50%, -50%) !important;
}

.progress-item {
  width: 56px;
  height: 56px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  background: url("/public/assets/images/Loading-ic.jpg");
  background-size: contain;
}

.progress-box {
  right: calc(50VW - 130px);
  width: 260px;
  position: absolute;
  text-align: -webkit-center;
  padding: 10px;
  top: calc(50VH - 180px);
  height: 160px;
}

.apexcharts-tooltip {
  direction: rtl !important;
}

.apexcharts-tooltip-marker {
  margin-left: 4px;
  margin-right: 0px !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rselect-container .rselect__control {
  background-color: #393939;
  border: 1px solid #a8a8a8;
  border-radius: 8px;
  padding: 8px;
  transition: none;
  margin-top: 20px;
}
.rselect-container .rselect__control:hover {
  border-color: #ffffff;
}
.rselect-container .rselect__menu {
  z-index: 9999;
  background-color: #4e5357;
  border-radius: 8px;
}
.rselect-container .rselect__option {
  background-color: #4e5357;
  border-radius: 8px;
  padding: 10px;
}
.rselect-container .rselect__option:hover {
  background-color: #696f73;
}
.rselect-container .rselect__indicator-separator {
  background-color: #2c3034;
}
.rselect-container .rselect__input-container {
  color: #e8e8e8;
}
.rselect-container .rselect__placeholder,
.rselect-container .rselect__single-value {
  color: rgb(243, 243, 243);
}

.rdselect-container .rselect__control {
  background-color: #ffffff;
  border: 1px solid #838383;
  border-radius: 8px;
  padding: 8px;
  transition: none;
  margin-top: 20px;
}
.rdselect-container .rselect__control:hover {
  border-color: #f1f1f1;
}
.rdselect-container .rselect__menu {
  z-index: 9999;
  background-color: #f3f3f3;
  border-radius: 8px;
}
.rdselect-container .rselect__option {
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 10px;
}
.rdselect-container .rselect__option:hover {
  background-color: #dadada;
}
.rdselect-container .rselect__indicator-separator {
  background-color: #2c3034;
}
.rdselect-container .rselect__input-container {
  color: #232323;
}
.rdselect-container .rselect__placeholder,
.rdselect-container .rselect__single-value {
  color: rgb(44, 44, 44);
}

.count {
  width: 40px !important;
  text-align: center;
  padding: 0 !important;
}
.count .MuiInputBase-root {
  border-radius: 0 !important;
}

body {
  font-family: "IRANSans-web" !important;
}

.home-center {
  text-align: -webkit-center;
}

.discount {
  z-index: 1;
  position: absolute;
  width: 40px;
  border-top-right-radius: 4px;
}

.discount .discountbg {
  border-style: solid;
  border-width: 0 60px 60px 0;
  border-color: transparent #e7333e transparent transparent;
  border-radius: 0px 10px 0 0;
}

.discount .percent {
  color: #FFFFFF;
  position: absolute;
  font-size: 0.8em;
}

.title {
  color: #FFFFFF;
  font-size: 0.8em;
  background-color: #e7333e;
  padding: 3px;
}

.home-header {
  height: 42px;
  width: 100%;
  position: absolute;
  z-index: 1000;
  background: linear-gradient(180deg, rgb(207, 207, 207) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%);
}

.slider-item-image {
  border-radius: 10px;
}

.content-list {
  padding: 0px 5px;
}

.simple-banner img {
  border-radius: 10px;
}

.home-title {
  width: fit-content;
  background-color: #e7333e;
  padding: 4px 15px 4px 20px;
  margin: 23px 0px 8px 0px;
  color: #ffffff;
  border-radius: 8px 8px 8px 8px;
}

.slick-slide img {
  object-fit: contain !important;
  height: auto !important;
}

/*# sourceMappingURL=style.css.map */
