.navv{
  background:url(/src/assets/images/footer.png) no-repeat left -50px #1D1D1D;
  height:60px;
  width:100%;
  border-bottom:3px solid #00CCFF;
}


.loc-top {
  background-color:#fff;
  border-right:4px solid #FF0066;
  height:46px;
  margin-top:7px;
  margin-right:7px;
  cursor:pointer;

}
.loc-top.active {
  background-color:#C9C9C9;
  color:#fff;
}
.loc-top-ic {
  background:url(/src/assets/images/location.png) no-repeat;
  width:34px;
  height:33px;
  margin-top:10px;
}
.loc-top span:before {
  content:"شهر : ";
}
.loc-top span {
  float:right;
  font: 13px "yekan",tahoma !important;
  padding-top:8px;
  padding-right:15px;

}
.city-list {
  display: none;
  position: absolute;
  z-index: 999;
  background: #fff;
  width: 1022px;
  height: 213px;
  right: 0;
  top: 60px;
  cursor: default;
  border: 1px solid;
  border-color: #e2e2e2;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.175);
  -ms-box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.175)
}

.city-list:after {
  content: '';
  border: 5px solid transparent;
  border-bottom: 5px solid #fff;
  position: absolute;
  z-index: 2;
  top: -10px;
  right: 50px
}
.city-list ul {
  width: 16.66%;
  padding: 14px 0;
  float: right;
  overflow: hidden;
  list-style:none;
}
.city-list ul li {
  padding: 2px 15px 2px 5px;
  margin-right: 12px;
  position: relative;
  color: #d2d2d2
}
.city-list ul li a:before {
  content: '';
  width: 5px;
  height: 5px;
  background: #d2d2d2;
  display: block;
  position: absolute;
  right: 0;
  top: 16px
}
.city-list ul li a {
  display: block;
  color: #4f4f4f
}
.city-list ul li a:hover {
  color: #ff5a5f
}
.city-list ul li a:hover:before {
  background: #ff5a5f
}
.city-list ul li a.disabled {
  color: #d2d2d2
}
.city-list ul li a.disabled:before {
  background: #d2d2d2
}
.city-list ul li a.disabled:hover {
  color: #acacac
}
.logo {
  background:url(/src/assets/images/logo.png) no-repeat;
  width:98px;
  height:29px;
  margin-top:15px;
  margin-right:auto;
  margin-left:auto;
}
.ic-mail {
  background:url(/src/assets/images/mail.png) no-repeat center center #FF0066;
  width:28px;
  height:28px;
  margin-right:auto;
  margin-left:auto;
  margin-top:5px;
  padding:5px;
  cursor:pointer;

}
.ic-mail.active {background:url(/src/assets/images/mail-ac.png) no-repeat center center #00CCFF;}
.email-content {
  display:none;
  background-color:#00CCFF;
  height:50px;
  width:100%;
  border-bottom:3px solid #0099BF;
  overflow:hidden;
}
.c-inputs {
  background-color:#fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height:36px;
  margin-top:3px;
  width:98%;
  border:0;
  border-bottom:4px solid #F4F4F4;
  direction:ltr;
  margin-right:10px;
  padding-left:5px;

}
.c-inputs-s {background-color:#FF0066;color:#fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height:42px;
  width:100%;
  margin-top:3px;
  border:0;
  border-bottom:4px solid #E1005A;
  font: 16px "yekan",tahoma;

}
.navbar {
  background:url(/src/assets/images/pattern.png) repeat-x 0 -9px;
  width:100%;
  height:49px;
  position:relative;

}
.navbar ul { list-style:none; float:right;}
.navbar ul li {
  float:right;

}
.navbar ul li a{
  display:block;
  padding:10px 20px 13px;
  color:#6C6C6C !important;
  text-shadow:none;

}
.navbar ul li a:hover{
  color:#fff !important;

}
nav.navbar .sabad-content ul{float:right;list-style:none;}
nav.navbar .sabad-content ul li a{border-bottom:1px dotted #F3F3F3;width:270px;height:60px;padding:5px;color:#333333 !important;}
nav.navbar .sabad-content ul li a:hover{background-color:#F9F9F9;color:#FF0066 !important;}
nav.navbar .sabad-content ul li .cover{width:50px;height:50px;padding:2px;border:1px solid #F3F3F3;float:right;margin-left:5px;}
nav.navbar .sabad-content ul li .cover img{width:50px;height:50px;}
nav.navbar .sabad-content a.tasvie{display:block;background-color:#00CCFF;padding:5px;text-align:center;color:#333333;overflow:hidden;position:relative;width:100%;color:#fff;}
li.sub ul { display:none; }

.circle-btt {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color:#00CCFF;
  width:39px;
  height:39px;
  position:absolute;
  right:0;

}

.btt-top {
  background-color:#fff;
  border:1px solid #E1E1E1;
  height:39px;
  margin: 0 5px;
  margin-top:5px;
  -webkit-border-top-right-radius: 39px;
  -webkit-border-bottom-right-radius: 39px;
  -moz-border-radius-topright: 39px;
  -moz-border-radius-bottomright: 39px;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 39px;
  cursor:pointer;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right:0;
  position:relative;
}
.btt-top.active {
  background-color:#00CCFF;
  color:#fff;
}
.btt-top span{
  display:block;
  padding-top:5px;
  padding-right:45px;
}
i.user-ic {
  display:block;
  background:url(/src/assets/images/users.png) no-repeat;
  width:32px;
  height:33px;
  margin-top:5px;
  margin-right:-3px;
}

i.sabad-ic {
  display:block;
  background:url(/src/assets/images/sabad.png) no-repeat;
  width:32px;
  height:33px;
  margin-top:5px;

}

span.badge {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display:block;
  padding:3px;
  width:15px;
  height:15px;
  background-color:#FF0066;
  color:#fff;
  position:absolute;
  left:15px;
  top:9px;
  text-align:center;
  line-height:1.2;

}
.sabad-content {
  display:none;
  background-color:#fff;
  width:280px;
  position:absolute;
  left:0px;
  top:49px;
  height:auto;
  z-index:999;
  border:1px solid #F3F3F3;
  overflow:hidden;
}
span.text-mail {
  color:#fff;
  text-align:center;
  height:20px;
  display:block;
  font: 13px "yekan",tahoma !important;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-bottom: 23px solid transparent;
  border-left: 23px solid #666666;
}


/* Outer */
.popup {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  z-index: 2;
  background:rgba(0,0,0,0.75);
}

/* Inner */
.popup-inner {
  max-width:700px;
  width:90%;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;
}

/* Close Button */
.popup-close {
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#fff;
}

.popup-close:hover {
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}
