
.footer {
    background:url(/src/assets/images/footer.png) no-repeat left bottom #1D1D1D;
    width:100%;
    height:auto;

    overflow:hidden;
    border-top:3px solid #00CAFC;
    color:#fff;
}
.ftcol {
    width:100%;
    margin-bottom:20px;
}
.ftcol ul { line-height:2;list-style:none;clear:both;}
.ftcol a{color:#fff; }
.ftcol span.title{background:url(/src/assets/images/dot.png) repeat-x bottom;height:30px;margin-top:10px;float:right;}
a.bazaar {
    clear:both;
    display:block;
    background:url(/src/assets/images/bazaar.png) no-repeat;
    width:208px;
    height:50px;
    margin-top:10px;
    float:right;
}
a.gp {
    clear:both;
    display:block;
    background:url(/src/assets/images/gp.png) no-repeat;
    width:208px;
    height:79px;
    margin-top:10px;
    float:right;
}
a.bazaar span,a.gp span{display:none;}
.cp {
    background-color:#2D2D2D;
    height:60px;
    width:100%;
    color:#fff;
    overflow:hidden;
}
.cp span.cpr {
    margin-top:8px;
    float:right;
    color:#fff;
}
.cp span.des {
    padding-left:50px;
    margin-top:5px;
    line-height:4.1;
    float:left;
    color:#fff;
    background:url(/src/assets/images/tg.png) no-repeat;
    height:50px;
}
