.layout-slider{
    width: 100%;text-align: left;
}

.sidebar {
    width:100%;
    overflow:hidden;
}

.side-block {
    padding:10px;
    background-color:#FAFAFA;
    border:1px solid #F6F6F6;
    overflow:hidden;
    margin-bottom:10px;
}
.sidebar .side-block span.title {
    display:block;
    padding:0 0 5px 0;
    float:right;
    background:url(/src/assets/images/dot.png) repeat-x 0 bottom;
    width:100%;

}
.sidebar .side-block .content {
    padding:5px;
}

.fb { 	background:url(/src/assets/images/fb.png) no-repeat; }
.tw { 	background:url(/src/assets/images/tw.png) no-repeat; }
.insta { 	background:url(/src/assets/images/insta.png) no-repeat; }
.google { 	background:url(/src/assets/images/g.png) no-repeat; }

label.form {
    clear:both;
    width:100%;
}
select.form {
    border:1px solid #DCDCDC;
    padding:5px;
    clear:both;
    width:100%;
    margin:2px 0 8px;
}
input.form {
    background-color:#4EB732;
    padding:2px 20px;
    color:#fff;
    border:0;
    margin:10px auto;
    font: 14px "yekan",tahoma;
}
a.soc {
    margin-right:5px;
    display:block;
    margin-top:10px;
    width:32px;
    height:33px;
    float:left;
}



.posts {
    width:100%;
    overflow:hidden;
}

.top-title { position:relative;width:100%;	background:url(/src/assets/images/dot.png) repeat-x 0 bottom;margin:0 10px;height:49px;float:right;}
.top-title span.ttp {
    display:block;
    position:absolute;
    right:0;
    top:0;
    border-bottom:2px solid #00CAFC;
    padding:0 0 10px 0;
    font:18px "yekan",tahoma;
}
.top-title span.ttp:before {
    content:"... ";
}
.top-title span.ttp:after {
    content:" ...";
}

.arrow-down-ttp {
    position:absolute;
    right:90px;
    top:48px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #00CAFC;
}

.updated-p {

    position:absolute;
    right:200px;
    top:16px;
    background-color:#FC0053;
    color:#fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    padding: 0px 10px;
}

.archive-p {

    position:absolute;
    left:0;
    top:10px;
    background-color:#00CAFC;
    color:#fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    padding: 3px 10px;
}
.box-p {
    width:31%;
    float:right;
    height:350px;
    margin:1%;
    border:1px solid #E8E8E8;
}
.image-p {
    width:99.5%;
    margin:1px;
    height:200px;
    position:relative;
    overflow:hidden;
}
.image-p  img{
    width:100%;
    height:100%;
}
.image-hover {color:#fff; position:absolute; right:0;width:100%;height:100%;top:0;
    text-align:center;
    background-color:#000;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}
.image-p:hover .image-hover {

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    opacity: 0.8;

}
span.title-h {

    font-size:14px;
    color:#fff;
    clear:both;
}
span.takhfif {
    clear:both;
    font-size:22px;
    color:#fff;
    border-bottom:1px dotted #fff;

}
a.btm {
    display:block;
    background-color:#FC0053;
    color:#fff;
    position:absolute;
    margin-right:auto;
    margin-left:auto;
    right:0;
    left:0;
    bottom:10px;

}
a.btm:hover {
    background-color:#00CAFC;
}
.arrow-up {
    position:absolute;
    right:8px;
    top:-10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #00CAFC;
}
.text-p {
    width:96%;
    height:50px;
    background:url(/src/assets/images/dot.png) repeat-x 0 bottom;
    margin:5px;
    line-height:1.5;
}
.text-p h2 { font-size:12px; }
.text-p h2 a:hover{ color:#00CAFC;}
.inm { background:url(/src/assets/images/inm.png) no-repeat; width:94px;height:94px;position:absolute;left:0;top:0;}
.price-p{
    text-align:center;
    color:#00CAFC;
    margin:10px 0;
}
.price-p span{color:#00CAFC; text-decoration:line-through;}
.price-p span.sale{
    color:#FC0053;
    text-decoration:none;

}
.meta-p {
    background-color:#00CAFC;
    height:43px;
    width:100%;
    position:relative;
}
.meta-p .addr{
    background:url(/src/assets/images/loc2.png) no-repeat right 0;
    height:43px;
    float:right;
    margin-top:10px;

}
.meta-p .addr span{ display:block;color:#fff;padding-right:30px;margin-top:-5px;}

.meta-p .buy{
    background:url(/src/assets/images/buy.png) no-repeat right 0;
    height:43px;
    float:left;
    margin-top:10px;
    margin-left:10px;

}
.meta-p .buy span{ display:block;color:#fff;padding-right:50px;margin-top:-2px;}

.transparent {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity70);
    -khtml-opacity: 0.7;
    opacity: 0.7;
}
.pages {
    float:left;
    width:100%;
    overflow:hidden;
    margin-left:10px;
}
.pages a {
    display:block;
    vertical-align:middle;
    float:left;
    width:50px;
    height:50px;
    line-height:4;
    text-align:center;
    border:1px solid #F6F6F6;
    background-color:#FDFDFD;
    margin:1px;
}
.pages a:hover {background-color:#FC0053;color:#fff; }
.pages a.actived{ background-color:#00CAFC;color:#fff; }
